@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body{
    padding-top: 60px;
    padding-left: 60px;
    font-family: 'Montserrat', serif;
    line-height: 1.21;
}

.card{
    border: 1px solid #DBB9B9;
    width: 420px;
    padding: 20px 40px 50px;
    text-align: center;
}

.card-img{
    margin-bottom: 30px;
}

.card-title {
    font-size: 32px;
    font-weight: 700;
    color: #CD2626;
    margin-bottom: 30px;
}

.card-text {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 1.5;
    padding: 0 5px;
}

.card-text a{
    color: #BD3030;
    text-decoration: underline;
}

.card-text p + p{
    margin-top: 14px;
}

.card-price {
    font-size: 26px;
    margin-bottom: 30px;
}

.card-price span{
    font-weight: 700;
}

.button{
    background-color: #CD2626;
    line-height: 1.2;
    border-radius: 8px;
    padding: 16px 42px 17px;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    transition: 
    background-color 0.2s ease-in,
    color 0.2s ease-in, 
    border 0.2s ease-in ;
}

.button:hover, .button:focus{
    background-color: #E41919;
}

.button:active{
    background-color: #8E1010;
    color: #FFF;
    position: relative;
    top: 1px;
}